html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #F7F9FC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  all: unset;
}

html, body {
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

header {
  margin-top: 32px;
}

.headerContainer {
  border-bottom: 1px solid #E78383;
  align-items: center;
  padding-bottom: 32px;
}
.headerContainer .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 36px;
}

.inputContainer {
  display: flex;
  border: 1px solid #E78383;
  border-radius: 26px;
  overflow: hidden;
  min-width: 954px;
  width: auto;
  height: 68px;
}
.inputContainer .url-input {
  background-color: white;
  box-sizing: border-box;
  padding-left: 26px;
  border: none;
  flex: 1;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #E77676;
}
.inputContainer .submit-button {
  min-width: 156px;
  width: auto;
  border-radius: 24px;
  background-color: #E78383;
  border: 1px solid #E78383;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.inputContainer .submit-button:active {
  background-color: #E77676;
}
.inputContainer .submit-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.inputContainer .submit-button:focus {
  outline: 2px solid #ffaa00;
  outline-offset: 2px;
}

.result-container {
  display: none;
}

.result-container.is-active {
  background-color: white;
  border-radius: 10px;
  border: 1px solid red;
  width: 466px;
  height: 116px;
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-left: 24px;
}

.urlResult-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.urlContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.copy-button {
  width: 100px;
  height: 36px;
  border: 1px solid #E78383;
  border-radius: 10px;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: black;
}
.copy-button:active {
  background-color: #E77676;
}
.copy-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.copy-button:focus {
  outline: 2px solid #ffaa00;
  outline-offset: 2px;
}/*# sourceMappingURL=main.css.map */