# Application
ENV=production
CONFIG_PATH=configs/config.yaml

# Server
SERVER_ADDRESS=:8080

# Database
DB_URL=postgres://user:password@localhost:5432/dbname
DB_USER=postgres
DB_NAME=urls
DB_PASSWORD=password
DB_MAX_OPENS_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=5m
DB_CONN_MAX_IDLE=1m

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=url-events

# URL Shortener
URL_BASE=http://localhost:8080
URL_CODE_LENGTH=8
URL_CODE_ALPHABET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
URL_DEFAULT_TTL=87600h

# Logger
LOG_LEVEL=info
LOG_SHOW_PATH_CALL=false

# CORS
CORS_ALLOWED_ORIGIN=*
